.historyButton {
  font-size: 3em;
  border-radius: 20%;
}

.resetButtonHidden {
  margin-right: auto;
  visibility: hidden;
}

.resetButton {
  margin-left: auto;
}

.historyButton:hover {
  background-color: black;
  color: white;
}

.historyButtons {
  margin: auto;
  padding: 10px;
  background-color: #000080;

  display: flex;
}

.historyButtonsContainer {
  margin: auto;
  width: 700px;
  border: solid black 3px;
}
